/* Обертка для формы */
div {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  
  /* Стили для полей ввода */
  input {
    margin-bottom: 20px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    font-size: 16px;
    outline: none;
  }
  
  /* Стили для полей ввода при фокусировке */
  input:focus {
    box-shadow: 0px 4px 8px 0px rgba(34,139,34,0.2);
  }
  
  /* Стили для кнопок */
  button {
    margin-bottom: 10px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #22A700; /* Зеленый фон */
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    color: white;
    cursor: pointer;
    font-size: 16px;
    outline: none;
    transition: box-shadow 0.3s, transform 0.3s;
  }
  
  /* Стили для кнопок при наведении */
  button:hover {
    box-shadow: 0px 4px 8px 0px rgba(34,139,34,0.3);
  }
  
  /* Стили для кнопок при нажатии */
  button:active {
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
    transform: translateY(2px);
  }
  