.checkbox-container {
    display: inline-flex;
    cursor: pointer;
  }
  
  .checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox-visual {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    font-size: 17px;
  }
  
  .checkbox-input:checked + .checkbox-visual {
    background-color: orange;
    color: white;
  }
  